.main-body{
    margin: 1%;
}

.products{
    height: 200%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 1;
    flex: 1 1 160px;
    width: 50%;
}